.filiales{
  background-color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}
.filiales-titre{
  font-size: 36px;
  font-weight: 500;
  color: #D40000;
}
.filiales-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3rem;
  max-height: 30rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: 2rem;

}
.filiales-header{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.one-filiale{
  width: 100%;
  background-color: #e0e0e0;
  min-height: 2.5rem ;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.filiales-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.one-filiale-buttons{
  width: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.one-filiale-icons{
  width: 1.5rem;
  height: 1.5rem;
  color: #D40000;
  cursor: pointer;
}
.addButton{
  width: 8rem !important;
  height: 3rem !important;
  background-color: #D40000 !important;
  color: white !important;
  border-radius: 8px !important;
  font-size: 15px !important;
  font-weight: 600 !important;
}


.radio-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: #D40000;
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px #4c8bf580;
}

.radio-button__input:checked + .radio-button__label {
  color: #D40000;
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: #D40000;
  box-shadow: 0 0 20px #D40000;
}



.filiale-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.longInput{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.longInput input {
  outline: none;
  background-color: transparent;
  width: 80%;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 16px;
}

.longInput p {
  font-size: 18px;
  font-weight: 500;
  color: #D40000;
}

.type-abrev{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.abreviation{
  width: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.abreviation input{
  outline: none;
  background-color: transparent;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 16px;
}

.abreviation p{
  font-size: 18px;
  font-weight: 500;
  color: #D40000;
}
.type{
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.type p {
  font-size: 18px;
  font-weight: 500;
  color: #D40000;
}

.midFilialeSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shortInputsSection{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
}

.shortInput{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.shortInput input {
  outline: none;
  background-color: transparent;
  width: 55%;
  height: 2rem;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.2rem;
  font-size: 16px;
}

.shortInput p {
  font-size: 18px;
  font-weight: 500;
  color: #D40000;
}

.filialeButtons{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.filialeButtons p {
  width: 15%;
  background-color: #D40000;
  height: 2.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.delete{
  font-size: 20px;
  font-weight: 500;
}
.filiale-form-delete{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}