.sidenav{
    background-color: white;
    width: 12%;
    height: 98.3%;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidenav-header{
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.sidenav-header img {
    width: 45%;
    height: 100%;
}
.sidenav-header p {
    color: #D40000 ;
    font-size: 30px;
    font-weight: 500;
}
.sidenav-options{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
.sidenav-option {
    width: 90%;
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 0.5rem;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    cursor: pointer;
}
.sidenav-option:hover{
    background-color: #D40000;
    color: white;
}

.icons{
    width: 1.5rem;
    height: 1.5rem;
}