.Type{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    width: 100%;
}

.Type p {
    font-size: 18px;
    font-weight: 500;
    color: #D40000;
}

.custom-select input {
    width: 97.6%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 18px;
}

.visitButton{
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D40000;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}